
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    background: transparent;
    border: 2px solid;
    color: inherit;
    font-family: inherit;
    padding: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    transition: .5s;
    cursor: pointer;
  }
  button:hover {
    background: #93b5e1;
    color: #fff;
    border-color: #93b5e1;
  }
  h1{
    font-family: 'Hanalei Fill', cursive;
    font-family: 'Pacifico', cursive;
    color: #93b5e1;
  }
  #video{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }
  .presentation, .paragraph{
    margin-top: 50PX;
    text-align: center;
  }
  #gif-me{
    max-width: 100%;
  }
